//

$font-stack:    Helvetica, sans-serif;


$primary-color: #333;

$grey:#282828;


$red :#ed2939;

$white:#fff;


$background:#161616;

$black: #000;


body {
    background:$primary-color;
margin: 0;

}
