// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

button:focus {outline:0;}

body {
    overflow-x: hidden;
   background-color: #161616;
   color: #ffffff;
}

*{
    z-index: 10;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $red; 
  }

.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}

.nav-link {
    color: #ffffff;
}

.redT {
    color: $red !important;
}

.bold {
    font-weight: bold;
}

.title {
    white-space: nowrap;
}

.nav-link:hover {
    color: $red;
}

.nav-item {
    margin-left: 15px;
    font-size: 16px;
    color: #ffffff;
}

.visdar {
    margin-left: -7rem;
}

.logo {
    width: 250px;
}

.contain {
    margin: 2%;
    margin-top: 5%;
}

.textContainer {
    margin-top: 20px;
}

.text {
    font-size: 17px;
}

.rowCol {
    width: 1200px;
}

.cardButtonDiv {
    display: flex;
}

.card-round {
    box-sizing: border-box;
    height: 250px;
    margin: 5px;
    background-color: $grey-light;
    border-radius: 30px;
}

.rCircle {
    width: 70px;
    height: 70px;
    background-color: $red;
    border-radius: 50px;
    margin: auto;
    margin-top: 14px;
    z-index: -1;
}

.bigRCircle {
    width: 350px;
    height: 350px;
    border-radius: 360px;
    z-index: -1;
    margin-left: 400px;
    margin-top: 100px;

    @include for-desktop-up {
        margin-left: 200px;
      }
}

.car {
    position: relative;
    width: 800px;
    left: -240px;
    top: 51px;
    z-index: 0;
}

.icon {
    position: relative;
    width: 42px;

}

.cardText {
    text-transform: uppercase;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}

.cardButton {
    margin: auto;
    margin-top: 60px;
    border: none;
    background-color: black;
    color: $red;
    border-radius: 50px;
    padding: 5px 30px;
}

.redButton {
    box-sizing: border-box;
    background-color: $red;
    color: white;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 10px 60px;
    margin: 25px;
    border: none;
    margin: auto;
    margin-top: 5px;
    width: 310px;
    letter-spacing: 2px;
}

.cardButton:hover {
    background-color: rgb(8, 8, 8);
    transition:  0.25s;
    color: rgb(148, 133, 133);
}

.rSection {
    background-color: $red;
}

.gSection {
    background-color: $grey-light
}

.rcontent {

}

.gSectionRText {
    vertical-align: top;
    margin-top: -10px;
    font-size: 25px;
}

ul {
    list-style: none;
    padding-left: 1.2em;
  }
  
  ul .registerListItem::before {
    content: "\2022";
    color: $red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

.registerListItem {
    color: white;
    font-size: 20px;
}

.registerFreeBtn {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 1em;
}

.flex {
    display: flex;
}

.kodelmes {
    margin-left: 6em;
    margin-top: 2em;
    margin-right: 0;
    @include for-tablet-landscape-up {
        margin-left: 13em;
      }
}

.kodelmesCircle {
    float: right;
    margin: 0;
    vertical-align: middle;
    margin-right: 1em;
}

.KodelmesCar {
    margin: auto;
    margin-top: 3rem;

    width: 0px;

    @include for-tablet-landscape-up {
        width: 450px;
      }
    
    @include for-desktop-up {
        width: 800px;
      }

}

.kodesmesNumber {
    font-size: 40px;
    position: relative;
    left: 0.55em;
    top: 0.1em;
}

.circlePlace {
    margin-top: 1em;
    vertical-align: middle;
    display: inline-block;
    width: 10%;
}

.visdarText {
    text-align: right;
    font-size: 19px;
}

.kodelmesText {
    margin-top: 2em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
    width: 79%;
}

.center {
    justify-content: center;
    text-align: center;
    margin: auto;
}

.hideOnPhones {
    @include for-phone-only {
        display: none;
      }
}

.showOnPhones {
    
    @include for-phone-only {
        display: block;
      }
}

.phonecontent {
    margin: 2em;
}

.phoneh1 {
    font-size: 35px;
    white-space: normal;
    width: 80%;
}

.phonebtn {
    background-color: $red;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    letter-spacing: 2px;
    padding: 10px;
    border: 0;

}

.phonephoto {
    margin-left: 140px;
}

.phonecar {
    
    width: 400px;
}
.a-c{
    text-align:center;
    margin:auto;
}
.form{
   
    background:$transparent;
    .modal-header{
        H5
        {
        font-size:20px;
        font-weight: bold;
        }
        border:none;
        border-radius: 25px 25px 0 0   ;
        background: $red;
        color:$white;
    }
    .modal-body{
        border:none;
        background-color:$grey-light;
        color:$white;
        border-radius:  0 0 25px 25px  ;
    }
    .modal-footer{
        border:none;
       
        background-color:$grey-light;
        color:$white;
    }
}
.form-text{
    color:$white;
    background:$grey-light;
    border:none;
    border-radius:50px;
    
}
.form-select {
    color:$white;
    background:$grey-light;
    border:2px solid $red;
    border-radius:50px;
    
}
.form-select:focus{
    color:$white;
    background:$grey-light;
    border:2px solid $red;
    border-radius:50px;
    
}
.form-text:focus{
    color:$white;
    background:$grey-light;
    border:none;
    border-radius:50px;
    
}

.form-col-group{

    .header{
        text-align:center;
        font-size:17px;
        font-weight: bold;
        color:$red;
    }

    padding:10px;
    margin:10px 0px 10px 0px;
    border-radius:15px;
    background:$grey-dark;
    
}
.modal-dialog{
    max-width:1000px !important;
}
.btnn{
    border-radius: 20px;
    
    padding:5px 15px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.btn-red{
    color:$white;
    background-color: $red;
    &:hover{
        color:$white;
    }
}
.btn-grey{
    color:$red;
    
    background:$grey-dark;
    &:hover{
        color:$white;
    }

}

.privacy{

    a{
        color:$red;
        text-decoration: none;
    }
}
.col-form
{
    padding:0px 7.5px;
}
.form-control::-webkit-input-placeholder { color: white; font-family: inherit; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white;  font-family: inherit;}  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; font-family: inherit; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white;  font-family: inherit;}  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white;  font-family: inherit;}


.tab{

    background: #191919;
    color:$white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border-radius:25px  25px 0 0;
    font-size:14px;
    
}
@keyframes tab-transition{
    0%{background: #191919;}
    100%{background: $red; }  
      
  };
.tab-active{
    animation: tab-transition 0.25s ;
    background: $red;
          
      
 

}
.tab-begin{
    background: $red;
}
.content-begin{
    height:300px;
   display:block !important;
}
.content-active{
    height:300px;
     display:block !important;
}
.content{
    
    display:none;
}
.tab-content{
    height:350px;
    width:100%;
    background: $grey-light;
    border-radius: 0 0 25px  25px;
}

.red{
    color:$red;
}
.rCircle-d {
    width: 50px;
    height: 50px;
    background-color: $red;
    border-radius: 50px;
    margin: auto;
    text-align:center;
    margin-top: 14px;
    z-index: -1;
}