// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('https://fonts.googleapis.com/css2?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@mixin for-phone-and-tablet {
    @media (max-width: 1200px) { @content; }
  }
@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

button:focus {outline:0;}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
   background-color: #161616;
   color: #ffffff;
}

*{
    z-index: 10;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $red; 
  }

.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}

.nav-link {
    color: #ffffff;
    text-align: center;
}

.redT {
    color: $red !important;
}

.bold {
    font-weight: bold;
}

.title {
    white-space: nowrap;
}

.nav-link:hover {
    color: $red;
}

.nav-item {
    box-sizing: border-box;
    transition: all 0.5s ease;
    margin-left: 15px;
    font-size: 16px;
    color: #ffffff;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
}



.nav-link:hover {
    transition: 0.1s;
      border-bottom: 3px solid #dd2837;
    transform: scale(1.1);
    @include for-phone-only {
        border-bottom: 3px solid rgba(255, 255, 255, 0);
      }
}


.visdar {
    margin-left: -7rem;
}

.logo {
    width: 219px;
}

.contain {
    margin: 2%;
    margin-top: 5%;
}

.textContainer {
    margin-top: 20px;
}

.text {
    font-size: 17px;
}

.row {
    overflow: hidden;
}

.rowCol {
    width: 1200px;
}

.cardButtonDiv {
    display: flex;
}

.card-round {
    box-sizing: border-box;
    height: 250px;
    margin: 5px;
    background-color: $grey-light;
    border-radius: 30px;
}

.rCircle {
    width: 70px;
    height: 70px;
    background-color: $red;
    border-radius: 50px;
    margin: auto;
    margin-top: 14px;
    z-index: -1;
}

.bigRCircle {
    width: 350px;
    height: 350px;
    border-radius: 360px;
    z-index: -1;
    margin-left: 400px;
    margin-top: 100px;

    @include for-desktop-up {
        margin-left: 200px;
      }
}

.car {
    position: relative;
    width: 800px;
    left: -240px;
    top: 51px;
    z-index: 0;
}

.icon {
    position: relative;
    width: 42px;

}

.cardText {
    text-transform: uppercase;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}

.cardButton {
    margin: auto;
    margin-top: 60px;
    border: none;
    background-color: black !important;
    color: $red;
    border-radius: 50px;
    padding: 5px 30px;
}

.redButton {
    box-sizing: border-box;
    background-color: $red;
    color: white;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 10px 0px;
    margin: 25px;
    border: none;
    margin: auto;
    margin-top: 5px;
    width: 310px;
    letter-spacing: 2px;
}

.cardButton:hover {
    background-color: rgb(8, 8, 8);
    transition:  0.25s;
    color: rgb(148, 133, 133);
}

.rSection {
    background-color: $red;
}

.gSection {
    background-color: $grey-light
}

.rcontent {

}

.gSectionRText {
    vertical-align: top;
    margin-top: -10px;
    font-size: 25px;
}

ul {
    list-style: none;
    padding-left: 1.2em;
  }
  
  ul .registerListItem::before {
    content: "\2022";
    color: $red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  .loginListItem::before {
    content: "\2022";
    color: $white;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

.registerListItem, .loginListItem {
    color: white;
    font-size: 20px;
}

.registerFreeBtn {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 1em;
}

.flex {
    display: flex;
}

.kodelmes {
    margin-left: 6em;
    margin-top: 2em;
    margin-right: 0;
    @include for-tablet-landscape-up {
        margin-left: 13em;
      }
}

.kodelmesCircle {
    float: right;
    margin: 0;
    vertical-align: middle;
    margin-right: 1em;
}

.KodelmesCar {
    margin: auto;
    margin-top: 3rem;
    display:none;
    width: 0px;

    @include for-tablet-landscape-up {
        width: 450px;
        display:block;
      }
    
    @include for-desktop-up {
        width: 800px;
        display:block;
      }

}

.kodesmesNumber {
    font-size: 40px;
    position: relative;
    left: 0.55em;
    top: 0.1em;
}

.circlePlace {
    margin-top: 1em;
    vertical-align: middle;
    display: inline-block;
    width: 10%;
}

.visdarText {
    text-align: right;
    font-size: 19px;
}

.kodelmesText {
    margin-top: 2em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
    width: 79%;
}

.center {
    justify-content: center;
    text-align: center;
    margin: auto;
}

.hideOnPhones {
    @include for-phone-only {
        display: none;
      }
}

.showOnPhones {
    position: absolute; 
    left: -999em;
    @include for-phone-only {
        position: relative;
        left: 0;
      }
}


.phonecontent {
    margin: 2em;
}

.phonecard {
    padding: 1em;
    margin: 0;
    border-left: 2px solid $red;
    border-right: 2px solid $red;

}

.kodelmesCarSmall {
    width: 140%;
    top: -184px;
    left: -445px;
    position: relative;
}

.cardButtonPhone {
    margin-top: 15px !important;
}

.phoneh1 {
    font-size: 35px;
    white-space: normal;
    width: 80%;
}

.phonebtn {
    background-color: $red;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    letter-spacing: 2px;
    padding: 10px;
    border: 0;

}

.phonephoto {
    margin-left: 30%;
}

.phonecar {
    
    width: 400px;
}
.seperator {


















}
.seperator {

















    
}
.a-c{
    text-align:center;
    margin:auto;
}
.form-text:disabled, .form-text[readonly],.form-select[readonly] {
    color:#555;
    background-color: $grey-light;
    opacity: 1;
 
}



.form{
   
    background:$transparent;
    .modal-header{
        text-align:center;
        H5
        {
           
        font-size:20px;
        font-weight: bold;
        }
        border:none;
        border-radius: 25px 25px 0 0   ;
        background: $red;
        color:$white;
    }
    .modal-body{
        border:none;
        background-color:$grey-light;
        color:$white;
        border-radius:  0 0 25px 25px  ;
    }
    .modal-footer{
        border:none;
       
        background-color:$grey-light;
        color:$white;
    }
}
.form-text{
    color:$white;
    background:$grey-light;
    border:none;
    border-radius:50px;
    
}
.form-select {
    color:$white;
    background:$grey-light;
    border:2px solid $red;
    border-radius:50px;
    
}
.form-select:focus{
    color:$white;
    background:$grey-light;
    border:2px solid $red;
    border-radius:50px;
    
}
.form-text:focus{
    color:$white;
    background:$grey-light;
    border:none;
    border-radius:50px;
    
}

.form-col-group{

    .header{
        text-align:center;
        font-size:17px;
        font-weight: bold;
        color:$red;
    }

    padding:10px;
    margin:10px 0px 10px 0px;
    border-radius:15px;
    background:$grey-dark;
    
}
.modal-dialog{
    max-width:1000px !important;
}
.btnn{
    border-radius: 20px;
    
    padding:5px 15px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.btn-red{
    color:$white;
    background-color: $red;
    &:hover{
        color:$white;
    }
}
.btn-grey{
    color:$red;
    
    background:$grey-dark;
    &:hover{
        color:$white;
    }

}
.btn-black {
    border-radius: 8px;
    
    margin: 5px;
    text-transform: uppercase;
    
    letter-spacing: 2px;
    color:$red;
    
    background:#161616;
    &:hover{
        color:$white;
    }

}
.btn-grey-light{
    color:$red;
    
    background:$grey-light;
    &:hover{
        color:$white;
    }

}

.privacy{

    a{
        color:$red;
        text-decoration: none;
    }
}
.col-form
{
    padding:0px 7.5px;
}
.form-control::-webkit-input-placeholder { color: white; font-family: inherit; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white;  font-family: inherit;}  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; font-family: inherit; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white;  font-family: inherit;}  /* Internet Explorer 10-11 */
.form-control[readonly]::-ms-input-placeholder { color: #555;  font-family: inherit;}
.form-control[readonly]::-webkit-input-placeholder { color: #555; font-family: inherit; }  /* WebKit, Blink, Edge */
.form-control[readonly]:-moz-placeholder { color: #555;  font-family: inherit;}  /* Mozilla Firefox 4 to 18 */
.form-control[readonly]::-moz-placeholder { color: #555; font-family: inherit; }  /* Mozilla Firefox 19+ */
.form-control[readonly]:-ms-input-placeholder { color: #555;  font-family: inherit;}  /* Internet Explorer 10-11 */
.form-control[readonly]::-ms-input-placeholder { color: #555;  font-family: inherit;}

.tab{

    background: #191919;
    color:$white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border-radius:25px  25px 0 0;
    font-size:14px;
    
}
@keyframes tab-transition{
    0%{background: #191919;}
    100%{background: $red; }  
      
  };
.tab-active{
    animation: tab-transition 0.25s ;
    background: $red;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 1);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.tab-begin{
    background: $red;
}
.content-begin{
    min-height:300px;
   display:block !important;
}
.content-active{
    min-height:300px;
     display:block !important;
}


.active {
      border-bottom: 3px solid #dd2837;
    transform: scale(1.1);
    @include for-phone-only {
        border-bottom: 3px solid rgba(255, 255, 255, 0);
      }
}

.content{
    
    display:none;
}
.tab-content{
  min-height:350px;
    width:100%;
    background: $grey-light;
    border-radius: 0 0 25px  25px;
}

.red{
    color:$red;
}
.rCircle-d {
    width: 50px;
    height: 50px;
    background-color: $red;
    border-radius: 50px;
    margin: auto;
    text-align:center;
    margin-top: 14px;
    z-index: -1;
}


.m-auto{
    margin:auto;
}
.duk-card{
    .modal-header{
       
        H5
        {
           
        font-size:15px;
       
        }
       
    }
    .modal-body{
       
        
    }

    @include for-phone-only {
        margin: 1rem;
      }

    margin:auto;
    width:900px;
    margin-bottom:1rem;
}

.carr{

    @include for-phone-only {
        margin: 0;
    display:none;
    }
}

.tools{


    .title{
        font-weight: bold;
        font-size:20px;
        color:$red;

    }
    .body{
        margin-bottom:2rem;
        font-size:15px;
        color:$white;

    }
}

.bold{
    font-weight:bold;
}

.failu-servisas{
  
    

    min-height: 800px;
    background:url($url+"images/fonasapie.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  /* max-width: 1000px;*/
    .overlay{
        
        background: rgb(40, 40, 40,0.5);
        height:100%;
        width:100%;
  
    }
    
    .title{
       
    
        font-weight: bold;
        font-size:20px;
        color:$red;
       
    }
    .body{
        text-align:center;

        margin-bottom:2rem;
        font-size:15px;
        color:$white;
        
    }
    margin-bottom:5rem;
}

.mob-cont{
    @include for-phone-and-tablet {
        margin:1rem;
      }
}
.lang{
    .btn:focus{
        outline:0;
        box-shadow:none;
    }
    position:absolute;
    right:0;
    top:140px;
    max-width: 45px;
    min-height: 42px;
    color:#000;
    background:#fff;
    border-radius: 5px 0px 0px 5px; 
            .select{
            color:#000;
            font-size:18px;
            font-weight: bold;
            padding-right: 16px;
            border-radius: 5px 0px 0px 5px; 
            text-transform: uppercase;
            
        }
        .option{
            padding-right: 16px;
            border-radius: 5px 0px 0px 5px; 
            text-transform: uppercase;
            font-weight: bold;
            display:block;
            color:#000;
            //background:#fff;
            font-size:18px;
            @keyframes mymove{
                from{
                    
                    opacity:0
                };
                to{
                    
                    opacity:1
                };
            }
            animation: mymove 1s;
            display:none;

        }
}

.soc{

   

    .btn:focus{
        outline:0;
        box-shadow:none;
    }
    position:absolute;
    right:0;
    padding: 12px;
    top:100px;
    max-width: 50px;
    color:#000;
    background:#fff;
    border-radius: 5px 0  0 5px;  
            .select{
            color:#000;
            font-size:18px;
            font-weight: bold;
            text-transform: uppercase;
            
        }
}

@media only screen and (max-width: 700px) {
    .soc {
      display: none;
    }
  }

.yt {

    top: 548px;
    padding-right: 11px;
    padding-left: 13px;
}

.soc:hover {
    background-color: $red;
}

.btnhvr:hover {
    background-color: $red;
}


.insta {
    top:600px;
    padding-left: 10px;
    padding-right: 9px;
    
}

.fb {
    top: 653px;
    min-width: 45px;
    padding-right: 6px;
}

.mtem {
    margin-top: 3em;
    @include for-tablet-portrait-up {
        margin-top: 7em;
      }
}

.tabheader{
    font-size:18px;
}
.upper{
    text-transform: uppercase;
}
.lower{
    text-transform: capitalize;
}
.capit{
    text-transform: lowercase;
}
.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .check-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .check-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  .check-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .check-container input:checked ~ .checkmark:after {
    display: block;
  }
@keyframes animation{
    from{opacity: 0;}
    to{opacity: 1;} 
 }
.fade-in {

    opacity: 0;
}

.fade-in-appear {
    animation: animation 2s ;
    opacity: 1;
    
}

[data-src] {
    min-width: 200px;
    min-height: 200px;
}

@keyframes grow-animation{
    from{transform: scale(0);}
    to{transform: scale(1);} 
 }
.grow-in {

    transform: scale(0);
}

.grow-in-appear {
    animation: grow-animation 2s ;
    transform: scale(1);
    
}